@charset 'UTF-8';

@font-face {
    font-family: Helvetica1;
    src: url('../Fonts/HelveticaLTStd-BoldObl.otf');
}

@font-face {
    font-family: Helvetica2;
    src: url("Fonts/HelveticaLTStd-Bold.otf");
}

@font-face {
    font-family: Helvetica3;
    src: url("Fonts/HelveticaLTStd-Light.otf");
}

@font-face {
    font-family: Helvetica4;
    src: url("Fonts/HelveticaWorld-Italic.ttf");
}


html, body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, aqua, purple);
}
main {
    width: 100vw;
    height: 100vh;
}
section#login {
    background-color: rgba(255, 255, 255, 0.705);
    width: 250px;
    height: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    overflow: hidden;
    transition: width .3s,height .3s;
    transition-timing-function: ease;
}
section#login div#imagem {
    background-image: url(../imagens/pexels-adriaan-greyling-754268.jpg);
    background-size: cover;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

form {
    padding: 20px;
}

div#form h1 {
    padding: 10px; 
    font-size: 30px;
    font-family: Helvetica1;
}
div#form p {
    padding: 10px;
    font-size: 20px;

}
div#form label {
    padding: 0px;
    padding-top: 20px;
    font-family: Helvetica1;
}
div#form span {
    padding: 10px;
}
div#form input {
    padding: 15px;
}
.campo {
    position: relative;
    padding-bottom: 30px;
}
.user {
    background: none;
    outline: none;
    border: none;
    width: 90%;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
}


form input[type =submit] {
    display: block;
    width: 80%;
    background-color: rgba(127, 255, 212, 0.445);
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    
}
form input[type=submit]:hover {
    background-color: rgba(0, 255, 255, 0.507);
}